body,
html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #a1599a;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: 45%;
  height: auto;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease;
}

.content-div {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  margin: 10px 0;
  border-radius: 5px;
  transition: all 0.3s ease, background-color 0.2s;
  cursor: pointer;
}

.content-div:hover {
  background-color: #d3d3d3;
  transform: scale(1.05);
}
